/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  background: linear-gradient(to right, #4caf50, #2196f3);
  font-family: 'Arial', sans-serif;
}